/* ADD YOUR CUSTOM CSS TO THIS FILE BELOW */

.bg-awesome {background-color: #076D1E;}

.body {
    background-color: #B01F14;}
.body { font-family: "Lucida Console", "Courier New", monospace;}

.bg-primary {
	background-color: #FFD133 !important;
}

.bg-light {
	background-color: #FFD133 !important;
}

.nav-link
	{color: white;}
.nav-link
	{ font-family: "Lucida Console", "Courier New", monospace;}
.navbar-brand
	{ font-family: "Lucida Console", "Courier New", monospace;
		color: white}
.lead
	{color: white;}